# Staging Environment
VITE_SUPABASE_URL=https://wioealhsienyubwegvdu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indpb2VhbGhzaWVueXVid2VndmR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzM1NzcsImV4cCI6MjA3NTUwOTU3N30.onRgeS1vEclzSaYWjBD3jQCb-PWQCEzyG2H-mexhYko
SUPABASE_URL=https://wioealhsienyubwegvdu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indpb2VhbGhzaWVueXVid2VndmR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzM1NzcsImV4cCI6MjA3NTUwOTU3N30.onRgeS1vEclzSaYWjBD3jQCb-PWQCEzyG2H-mexhYko
RESEND_API_KEY=re_5cLiPHgP_Bq4tqNHpKKUNHCs4T3J6qXAo
FROM_EMAIL=info@oshi-talk.com
APP_URL=https://www.oshi-talk.com
STRIPE_SECRET_KEY=sk_live_PLACEHOLDER